Repository jondwillis/swiftralino, changes with the labels that .github/labeler.yml gives for each.
All labels: area/swift-core, area/platform, area/cli, area/web, area/tests, area/build, area/config, dependencies, documentation, breaking-change, platform-test

working on distributed...
  .swiftlint.yml
  Sources/SwiftralinoCore/MessageHandler.swift
  Sources/SwiftralinoPlatform/DistributedPlatformManager.swift
  Sources/SwiftralinoWebView/src/components/DistributedPlatform.tsx
  Sources/SwiftralinoWebView/src/components/MainLayout.tsx
  Sources/SwiftralinoWebView/src/lib/swiftralino-client.ts
  Sources/SwiftralinoWebView/src/lib/swiftralino-context.tsx
  Sources/SwiftralinoWebView/src/types/swiftralino.ts
  Tests/SwiftralinoTests/DistributedPlatformManagerTests.swift
  Tests/SwiftralinoTests/DistributedPlatformTests.swift
Labels: area/swift-core, area/platform, area/web, area/tests, area/build, area/config, platform-test

remove perf claims
  README.md
Labels: area/config, documentation

shore up swift versions
  .github/workflows/ci.yml
Labels: area/build, area/config

shore up swift tools versions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Package.swift
Labels: area/build, area/config, dependencies, platform-test

Swift Testing
  Sources/SwiftralinoPlatform/DistributedPlatformManager.swift
  Tests/SwiftralinoTests/DistributedPlatformTests.swift
  Tests/SwiftralinoTests/SwiftralinoTests.swift
Labels: area/platform, area/tests, platform-test

enable tls and warn if disabled
  README.md
  Sources/Swiftralino/main.swift
  Sources/SwiftralinoCore/SwiftralinoApp.swift
  Tests/SwiftralinoTests/SwiftralinoTests.swift
Labels: area/swift-core, area/tests, area/config, documentation

bun lint --fix
  Sources/SwiftralinoPlatform/DistributedPlatformManager.swift
  Sources/SwiftralinoWebView/src/components/DistributedPlatform.tsx
  Sources/SwiftralinoWebView/src/components/FileExplorer.tsx
  Sources/SwiftralinoWebView/src/components/ProcessRunner.tsx
  Sources/SwiftralinoWebView/src/components/SystemInfo.tsx
  Sources/SwiftralinoWebView/src/lib/swiftralino-context.tsx
Labels: area/platform, area/web, platform-test

working on build success 🤝
  .cursor/rules/always.mdc
  .cursor/rules/smart-meta-rules.mdc
  Public/assets/index-5fUl4gH_.css
  Public/assets/index-BXoEPU5x.js
  Public/assets/index-aIIcfCF2.css
  Public/assets/index-xvFopUo8.js
  Public/index.html
  Sources/SwiftralinoCLI/ProjectCreator.swift
  Sources/SwiftralinoCore/WebServer.swift
  Sources/SwiftralinoPlatform/DistributedPlatformManager.swift
  Sources/SwiftralinoWebView/src/components/DistributedPlatform.tsx
  Sources/SwiftralinoWebView/src/components/FileExplorer.tsx
  Sources/SwiftralinoWebView/src/components/ProcessRunner.tsx
  Sources/SwiftralinoWebView/src/components/SystemInfo.tsx
  Sources/SwiftralinoWebView/src/lib/swiftralino-client.ts
  Sources/SwiftralinoWebView/src/lib/swiftralino-context.tsx
  Sources/SwiftralinoWebView/src/main.tsx
  Sources/SwiftralinoWebView/src/types/swiftralino.ts
Labels: area/swift-core, area/platform, area/cli, area/web, platform-test

bun run type-check
  Sources/SwiftralinoWebView/src/lib/swiftralino-client.ts
  Sources/SwiftralinoWebView/src/types/swiftralino.ts
Labels: area/web

.github/labeler.yml:

# Swift Core Components
'area/swift-core':
  - 'Sources/SwiftralinoCore/**/*'
  - 'Sources/SwiftralinoAPI/**/*'

# Platform Components
'area/platform':
  - 'Sources/SwiftralinoPlatform/**/*'

# CLI Components  
'area/cli':
  - 'Sources/SwiftralinoCLI/**/*'

# Web Components
'area/web':
  - 'Sources/SwiftralinoWebView/**/*'

# Tests
'area/tests':
  - 'Tests/**/*'

# Build & CI
'area/build':
  - 'Package.swift'
  - 'Package.resolved'
  - 'Dockerfile'
  - 'docker-compose*.yml'
  - 'Makefile'
  - '.github/workflows/**/*'
  - '.swiftlint.yml'

# Configuration
'area/config':
  - 'config/**/*'
  - '.github/**/*'
  - '*.md'
  - '*.yml'
  - '*.yaml'

# Dependencies
'dependencies':
  - 'Package.swift'
  - 'Package.resolved'
  - 'Sources/SwiftralinoWebView/package.json'
  - 'Sources/SwiftralinoWebView/package-lock.json'
  - 'Sources/SwiftralinoWebView/bun.lockb'

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'

# Breaking changes (require careful review)
'breaking-change':
  - 'Sources/SwiftralinoAPI/**/*'

# Platform-specific testing (triggers expensive macOS/Windows CI)
'platform-test':
  - 'Sources/SwiftralinoPlatform/**/*'
  - 'Package.swift'
